<div id="note">
  <% if note.user == current_user %>
    <%= link_to assignment_note_path(assignment, note), method: :delete, data: {assignment_id: assignment.id, value: assignment.notes.count, confirm: "Are you sure?" }, remote: true, id: "delete-#{note.id}", class: "delete-note" do %>
      <span class="glyphicon glyphicon-remove delete-comment-icon"></span>
    <% end %>
  <% end %>
  <div class="note-content">
      <%= note.content %>
  </div>
</div>
