<footer id="footer">
  <div class="footer-top">
    <div class="container">

    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>Nik Cochran 2017</strong>.
    </div>
  </div>
  
 	<%= link_to 'Admin', admin_root_path, class: "btn btn-default"%>
 	
</footer><!-- #footer -->
