<header id="admin-header">
    <div class="container">
      <nav id="nav-menu-container">
        <ul class="nav-menu">
      
          <li> <% if user_signed_in? %>
          <li>
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "google") %>        
          </li>
        <% else %>
          <li>
          <%= link_to('Login', new_user_session_path, class: "google")  %>  
          </li>
        <% end %>
        <li class="menu-active"><a href="/">Home</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->